*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text

# Force notebooks to count as Python
*.ipynb linguist-language=Python

# Detect Python scripts normally
*.py linguist-detectable=true

# Ignore non-code files in language stats
*.csv linguist-vendored
*.zip linguist-vendored
*.gz linguist-vendored
*.pkl linguist-vendored
*.md linguist-vendored
*.pdf linguist-vendored
